.review-form{
  background-color: rgb(213, 213, 213);
  padding: 50px;
  border-radius: 20px;
}

.review-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-form h2{
  text-align: center;
  color: rgb(0, 0, 0);
}

.review-textarea{
  display: flex;
  flex-direction: column;
}

.review-textarea textarea{
  width: 100%;
  resize: none;
  overflow: hidden;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.review-submit-btn{
  border-radius: 20px;
  width: 100%;
}

