.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0 8px 0 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.sub-nav {
  overflow: hidden;
  transition: height 0.3s ease;
}

.sub-nav-inner {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  margin-right: 10px;
}
